@import "tailwindcss";

/* GLOBAL DESIGN SYSTEM */
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto;
  background-color: #f8fafc;
  color: #0f172a;
}

/* smooth UI feel */
* {
  transition: all 0.15s ease;
}

/* better scroll */
html {
  scroll-behavior: smooth;
}